/**
 * Debug CSS
 *
 * @project   [Client Name] - [Project Name]
 * @version   1.0
 * @author    Brian Drum
 * @copyright 2010
 */

/*
.container_24 {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA8AAAABkCAYAAABJs1n+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAkFJREFUeNrs1yEOgFAMRMEtnvsflAOUrz8hwSE6oys2da+6O7uqnPnH9fHOPvvss88+++yzzz777LPPPvterdR97DsCAAAAAwhgAAAABDAAAAAIYAAAABDAAAAAIIABAABAAAMAAIAABgAAAAEMAAAAAhgAAAABDAAAAAIYAAAABDAAAAAIYAAAABDAAAAAIIABAABAAAMAAIAABgAAAAEMAACAAAYAAAABDAAAAAIYAAAABDAAAAAIYAAAABDAAAAAIIABAABAAAMAAIAABgAAQAADAACAAAYAAAABDAAAAAIYAAAABDAAAAAIYAAAABDAAAAAIIABAABAAAMAACCAAQAAQAADAACAAAYAAAABDAAAAAIYAAAABDAAAAAIYAAAABDAAAAAIIABAAAQwAAAACCAAQAAQAADAACAAAYAAAABDAAAAAIYAAAABDAAAAAIYAAAABDAAAAACGAAAAAQwAAAACCAAQAAQAADAACAAAYAAAABDAAAAAIYAAAABDAAAAAIYAAAAAQwAAAACGAAAAAQwAAAACCAAQAAQAADAACAAAYAAAABDAAAAAIYAAAABDAAAAACGAAAAAQwAAAACGAAAAAQwAAAACCAAQAAQAADAACAAAYAAAABDAAAAAIYAAAAAQwAAAACGAAAAAQwAAAACGAAAAAQwAAAACCAAQAAQAADAACAAAYAAEAAewEAAAACGAAAAAQwAAAACGAAAAAQwAAAACCAAQAAQAADAACAAAYAAAABDAAAwGy3AAMAjFYdxfQCHGcAAAAASUVORK5CYII=);
}
*/

.debug-pre {
	background: #FFF;
	border: 1px #EEE inset;
	font-family: "Consolas", "Menlo", monospace;
	font-size: .75em;
	margin: 8em 0 0 0;
	/* 96/12 */
	overflow: hidden;
	padding: 1em;
	text-overflow: ellipsis;
}

.debug-code {
	background: transparent;
	border: 0;
	font-family: "Consolas", "Menlo", monospace;
	font-size: 1em;
	/* 12/12 */
	font-weight: normal;
	line-height: 1;
	/* 12/12 */
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
