!=partial('../partials/header')

div.container_24.clearfix
	div.grid_24
		h1= title

		table
			thead
				tr
					td Subscriber ID
					td Phone Number
					td Name
					td City
					td State
					td Date Subscribed




