!=partial('../partials/header')

div.container_24.clearfix
	div.grid_24
		h1= title

		a(href='/alerts/new')
		
		table
			thead
				tr
					td Name
					td Message
					td Status
					td Time Created
			tbody
				tr




